.navbar-inverse { background-color: #822433}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover { background-color: #f6f6f6}
.navbar-inverse .navbar-nav>li>a:focus { background-color: #580a1a; color:#ffffff}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #580a1a}
.dropdown-menu { background-color: #ffffff;font-size: 14px;}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #f6f6f6}
.navbar-inverse { background-image: url(/assets/img/maroon-bubbles-hdr-50pxH.png); }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #580a1a}
.navbar-inverse .navbar-brand { color: #FFFFFF}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a:hover { color: #333}
.navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #333}
/*.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}*/
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}
.navbar{min-height:50px}
/*.navbar-header{margin-top: 8px}*/
/*.navbar-nav li a {
 line-height: 38px;
}*/

.merchgroup-dropdown{
    margin-left: 10px;
    background: url(/assets/img/group-icon.png) no-repeat;
}

.scrollable-menu {
    height: auto;
    max-height: 550px;
    overflow-x: hidden;
}
/*
.navbar {
    position: relative;
}*/
.brand {
    position: absolute;
    left: 50%;
    margin-left: -103px !important;  /* 50% of your logo width */
    display: block;
}