
 <div id="footer">
        <div class="navbar">
            <div class="navbar-inner footer">
                <div class="container-fluid">
                  <footer class="footer text-center">
                    <div class="col-md-4 text-left"><img src="/assets/img/DrPepp-White-Logo.png" style="height:30px;margin-top:10px" alt="Logo Image"></div>  
                    <div class="col-md-4 text-center"><p>Copyright: &copy;  | All rights reserved</p></div>
                    <div class="col-md-4 text-left">&nbsp;</div>
                </footer>
                </div>
            </div>
        </div>
    </div>

    
